

.projet{
    width:350px; 
    height:450px;
    margin: 30px;
    margin:auto;
    margin-top:60px;
    display: block;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
}

.projet:hover{

    
}





    /*div picture*/


.picture{
	width: 350px;
	height: 266px;
	overflow: hidden;
    z-index: 0;
}

img{  
    width:400px;
    height:450px;
    position:relative;
    z-index: 1;
}

#date{
    
    position: relative;
    left:280px;
    z-index: 2;
    bottom:450px;
    background-color: red;
    color:white;
    font-size:1.2em;
    line-height: 0.7em;
    padding:15px;
    border:0px;
    border-radius: 35px;
    z-index: 1; 
}


    /*text-area*/

/*container*/

.text-area{
    
    position: absolute;
    z-index: 2;
    background-color: white;
    height:30%;
    width: 350px;
    margin:auto;
    font-size: 1.3em;
    margin:0px; 
    transition-property: transform;
    transition-duration: 2s; 
}

.text-area:hover{
    transform: translateY(-100px);
}

h3{
    color:black;
    font-size:2em;
    margin:0px 0px 0px 30px;
}
#photos{
    padding:5px;
    background-color: red;
    color:white;
    font-size:1.3em;
    margin-top:-60px;
    position:relative;
    top:-40px;
}
span {
	font-size: 1.3em;
    margin:0px 0px 0px 30px;
    color:tomato;
}

ul{
    display: inline-block;
   

}

li{
    list-style-type: none;
    display: inline-block;
    text-align:center;
    margin-right:30px;
    color:silver;
}

p{
    color:black;
    font-size:0.9em;
    margin: 15px 25px 0px 25px;
    z-index: 0;
}
